.topFixedBanner{
    background-image: url("../img/cover2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(255,153,204,0.1);
}
.topContent{
    color: white;
    margin-top: 10rem;
    text-align: center;
}
.topTitle{
    font-family: 'Montserreat' , sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.topSubtitle{
    font-family: 'Raleway' , sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.serviceTitle{
    font-family: 'Raleway' , sans-serif;
    font-size: 40px;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-weight: 600;
}
.serviceSlot{
    margin: 5px 5px 5px 5px;
    box-shadow: 0 0 8px 0 rgba(255,153,204,0.6);
    font-family: 'Montserreat' , sans-serif;
    font-size: 14px;
    color: #4e555b;
    padding: 40px 10px 10px 10px ;
    height: 25rem;
}

.serviceSlot h2{
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1d2124;
}
